{% extends "index.html" %}

{% block update %}
        <update>
          <h2>Update</h2>
          <span>{{ session.sname }}</span>
          <br />
          <div id="updateDiv" class="center">
            <form action="update" method="POST" enctype="multipart/form-data">
              <table class="tblCenter">
                <tr><td>Severity</td><td>
                  <select id="severity" name="severity" placeholder="Severity" >
                    <option value=""></option>
                    {% for i in config.SEVERITY.split(' '): %}
                    <option value="{{i}}">{{ i }}</option>
                    {% endfor %}
                  </select>
                </td></tr>
                <tr><td>Description</td><td><textarea id="description" name="description" >{{ request.form['description'] }}</textarea></td></tr>
                <tr><td><br /></td><td></td></tr>
                <tr>
                  <td><a href="upload_file" id="upload_file" style="text-align:left;">Upload File</a></td>
                  <td><a href="#" id="updateSub">Submit</a></td>
                </tr>
              </table>
            </form>
          </div> <!-- /updateDiv -->
        </update>
{% endblock %}

